[Unit]
  Description=Smart test
 
[Service]
  ExecStart=/usr/bin/python3 /home/illuzzio/Desktop/test.py
  Type=idle
  KillMode=process
 
  SyslogIdentifier=smart-test
  SyslogFacility=daemon
 
  Restart=on-failure
 
[Install]
  WantedBy=multiuser.target
